body{
padding: 10%;
	font-family: 'Open Sans', sans-serif;
	
}
.hq-template{
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 7px 9px 50px 18px rgba(212, 230, 252, 1);
	border-radius: 15px;
}
.register-form{
	background-color: #0c5ae5;
	padding: 60px;
	border-radius: 15px;
}
.register-form h1{
    margin-bottom: 60px;
    font-weight: 700;
    color: #fff;
    font-size: 50px;
}
.forgot-password {
	text-align: right;
	float: right;
	font-weight: bold;
}

.forgot-password a {
	color: #f8faf8;
	opacity: 0.6;
}

.forgot-password a:hover {
	opacity: 1;
}
.register-input{
	padding-left: 40px;
	border-radius: 20px;
	border:none;
}
.register-input::placeholder{
	color: #a4c9f7;
	opacity: 1;
}
.register-form svg{
	margin-top: -67px;
    margin-left: 10px;
    color: #a4c9f7;
}
.register-login-btn{
	margin-top: 60px;
	display: flex;
}
.register-login-btn .register-btn{
	border-radius: 20px;
	background: linear-gradient(-90deg,#fe9900,#ffc001);
	color: #000 !important;
	text-shadow: 0px 1px 2px #000;
	padding-left: 20px;
	padding-right: 20px;
	border:none !important;
	margin-right: 40px;
}
.register-login-btn .register-btn:focus{
	color: #000 !important;
	box-shadow: none !important;
	border:none !important;
}

.register-login-btn .login-btn{
	border-radius: 20px;
	background-color: transparent;
	color: #fff !important;
	
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #fff !important;
}
.register-login-btn .login-btn:focus{
	color: rgb(18, 19, 2) !important;
	box-shadow: none !important;
	border: 1px solid rgb(4, 0, 0) !important;
}

.copyright{
  text-align: center; 
    padding: 20px;
    font-size: 16px;
}
.copyright a{
  color: #0c5ae5;
  font-weight: bold;
}
.copyright a:hover{
  color: #0c5ae5;
}



/************************** media query 1200px ***********/
@media only screen and (max-width: 1200px){
	.pic-register-2 img{
		padding-top: 85px;
	}
	.forgot-password {
		text-align: right;
		float: left;
		padding: 20px 0;
		}
}
/************************** media query 950px ***********/
@media only screen and (max-width: 950px){
	.pic-register-2 img{
		height:100%;
		width: 100%;
		padding-top: 0px;
	}
	.register-login-btn .register-btn {
    margin-right: 5px;
    font-size: 15px;
}
	.register-login-btn .login-btn {
		font-size: 15px;
	}
	.forgot-password {
		text-align: right;
		float: left;
		padding: 20px 0;
		}

}
/********************  media query 750px ***************/
@media only screen and (max-width: 750px){
	.pic-register-2{
		display: none;
	}
	.register-login-btn .register-btn{
		margin-right: 40px;
	}
	.forgot-password {
		text-align: right;
		float: left;
		padding: 20px 0;
		}
}
/********************  media query 414px ***************/
@media only screen and (max-width: 414px){
	.register-form{
		padding: 10px;
	}
	.forgot-password {
		text-align: right;
		float: left;
		padding: 20px 0;
		}
	
}
